
body{
  overflow: hidden;
}
ul li a{
  color: #a0a0a0;
}
ul li a:hover {
  color: black;
}
.maindiv img{
  width: 4rem;
}
.maindiv img {
  width: 4rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details h1 {
  text-align: center;
}
.details p {
  text-align: justify;
}
.gif {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

/* Media Query */


@media only screen and (max-width:636px){
  .maindiv{
    display: flex;
    flex-direction: column;
    height: 13rem !important;
  }
  .maindiv ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .details p{
    text-align: justify;
    margin: 1rem 2rem;
  }
}


@media only screen and (max-width: 300px){
  .gif img{
    display: block;
    margin: auto;
    width: 50%;
  }
}